In [1]:
import numpy as np
import pandas as pd
import xlrd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  mean_absolute_error
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df=pd.read_excel("Data_Train.xlsx")
test=pd.read_excel("Test_set.xlsx")

In [4]:
test.duplicated().sum()

26

In [6]:
test.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

In [9]:
df.drop_duplicates(inplace=True)

In [11]:
train_len=len(df)

In [12]:
full_df=pd.concat([df, test], ignore_index=True)

In [14]:
full_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13103,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13104,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13105,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13106,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13107,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [15]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13108 entries, 0 to 13107
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13108 non-null  object
 1   Date_of_Journey  13108 non-null  object
 2   Source           13108 non-null  object
 3   Destination      13108 non-null  object
 4   Route            13107 non-null  object
 5   Dep_Time         13108 non-null  object
 6   Arrival_Time     13108 non-null  object
 7   Duration         13108 non-null  object
 8   Total_Stops      13107 non-null  object
 9   Additional_Info  13108 non-null  object
 10  Price            10463 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [16]:
full_df["Date_of_Journey"]=pd.to_datetime(full_df["Date_of_Journey"], format="%d/%m/%Y")

In [17]:
full_df[full_df.duplicated()]

Empty DataFrame
Columns: [Airline, Date_of_Journey, Source, Destination, Route, Dep_Time, Arrival_Time, Duration, Total_Stops, Additional_Info, Price]
Index: []

In [18]:
Route_mode=full_df["Route"].mode()[0]
full_df["Route"].fillna(Route_mode, inplace=True )

In [19]:
Total_Stops_mode=full_df["Total_Stops"].mode()[0]
full_df["Total_Stops"].fillna(Total_Stops_mode, inplace=True )

# Feature Engineering:  process of creating a new column from a manipulated column by use of domain knowledge

In [20]:
full_df["month_of_Journey"]=full_df["Date_of_Journey"].dt.month
full_df["day_of_Journey"]=full_df["Date_of_Journey"].dt.day_name()
full_df["year_of_Journey"]=full_df["Date_of_Journey"].dt.year

In [21]:
full_df.drop(columns=["Date_of_Journey","Route","Dep_Time","Arrival_Time"], inplace=True)

In [22]:
full_df["Duration"].value_counts()

2h 50m     665
1h 30m     493
2h 45m     430
2h 55m     411
2h 35m     399
          ...
31h 30m      1
32h 55m      1
35h 20m      1
30h 10m      1
32h 25m      1
Name: Duration, Length: 374, dtype: int64

In [23]:
def extract(x):
    hour=0
    minute=0
    x= x.split()
    if len(x)==1:
        if x[0].endswith("h"):
            hour = int(x[0].strip("h"))
        else:
            minute= int(x[0].strip("m"))
    else:
        hour = int(x[0].strip("h"))
        minute = int(x[1].strip("m"))
        
        
        
    return hour, minute

In [24]:
hour= full_df["Duration"].apply(lambda p: extract(p)[0])*60
minute= full_df["Duration"].apply(lambda p: extract(p)[1])
full_df["duration in minute"]= hour+minute

In [25]:
full_df.drop(columns=["Duration"], inplace=True)

In [26]:
full_df["Airline"].replace(["Jet Airways Business", "Multiple carriers Premium economy", "Vistara Premium economy"],
                     ["Jet Airways", "Multiple carriers", "Vistara"], inplace=True)

In [27]:
full_df["Airline"].value_counts()

Jet Airways          4594
IndiGo               2552
Air India            2127
Multiple carriers    1555
SpiceJet             1023
Vistara               612
Air Asia              405
GoAir                 239
Trujet                  1
Name: Airline, dtype: int64

In [28]:
df_d= pd.get_dummies(full_df, columns=["Airline","Source", "Destination", "Total_Stops", "Additional_Info"], drop_first=True)

In [29]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
df_d["day_of_Journey"]=le.fit_transform(df_d["day_of_Journey"])

In [30]:
df_d

,Price,month_of_Journey,day_of_Journey,year_of_Journey,duration in minute,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Multiple carriers,...,Total_Stops_non-stop,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,3897.0,3,3,2019,170,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
1,7662.0,5,6,2019,445,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,13882.0,6,3,2019,1140,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,6218.0,5,3,2019,325,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,13302.0,3,0,2019,285,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13103,NaN,6,4,2019,1435,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13104,NaN,3,6,2019,155,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
13105,NaN,3,6,2019,395,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
13106,NaN,3,6,2019,915,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13107,NaN,6,2,2019,860,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
test_len=len(test)
train_len=len(df)

In [32]:
new_train=df_d[: train_len]
new_train.shape

(10463, 35)

In [33]:
new_test=df_d[train_len: ].drop(columns=["Price"])
new_test.shape

(2645, 34)

In [34]:
X=new_train.copy()
y=X.pop("Price")

In [35]:
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
lr= LinearRegression()   
model_1= lr.fit(x_train, y_train)

In [37]:
ad= AdaBoostRegressor (random_state= 42)  
model_2= ad.fit(x_train, y_train) # training the model

In [38]:
prediction_1= model_1.predict(x_test)
eval_1= mean_absolute_error(y_test, prediction_1 )
eval_1_m= mean_squared_error(y_test, prediction_1)
eval_1_r= r2_score(y_test, prediction_1)

print(f"the mean absolute error by {lr} is {eval_1}\n")
print(f"the mean squared error for {lr} is \n{eval_1_m}")
print(f"the r2_score for {lr} is \n{eval_1_r}")

the mean absolute error by LinearRegression() is 1795.02580028667

the mean squared error for LinearRegression() is
7475980.542283803
the r2_score for LinearRegression() is
0.6416922913368751

In [39]:
prediction_2= model_2.predict(x_test)
eval_2= mean_absolute_error(y_test, prediction_2 )
eval_2_m= mean_squared_error(y_test, prediction_2)
eval_2_r= r2_score(y_test, prediction_2)

print(f"the mean absolute error by {ad} is {eval_2}\n")
print(f"the mean squared error for {ad} is \n{eval_2_m}")
print(f"the r2_score for {ad} is \n{eval_2_r}")

the mean absolute error by AdaBoostRegressor(random_state=42) is 2037.3317619399552

the mean squared error for AdaBoostRegressor(random_state=42) is
8966456.55389754
the r2_score for AdaBoostRegressor(random_state=42) is
0.5702569737195922

In [40]:
model_1.predict(new_test)

array([13212.,  7628.,  9692., ..., 14032.,  9584., 10830.])

In [42]:
new_test["Predicted Price"]=model_1.predict(new_test)

In [43]:
new_test

,month_of_Journey,day_of_Journey,year_of_Journey,duration in minute,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Multiple carriers,Airline_SpiceJet,...,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Predicted Price
10463,6,4,2019,655,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,13212.0
10464,5,3,2019,240,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,7628.0
10465,5,5,2019,1425,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,9692.0
10466,5,5,2019,780,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,10840.0
10467,6,1,2019,170,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,3306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13103,6,4,2019,1435,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,8728.0
13104,3,6,2019,155,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,4520.0
13105,3,6,2019,395,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,14032.0
13106,3,6,2019,915,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,9584.0
13107,6,2,2019,860,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,10830.0